
*{
	box-sizing: border-box;
}
body{
	margin:0;
	overflow-x: hidden;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    line-height: 25px;
    font-size: 14px;
    color: #656565;
}
h2{
  line-height: 1.1;
  margin-top: 20px;

margin-bottom: 10px;
}
a{
	text-decoration: none;
	transition: all 0.3s ease 0s;
}
a:hover{
color: #ea7292;
}
.top_theme{
	background-color: #3a526a;

	font-size: 12px;

	font-family: "Poppins", sans-serif;

	min-height: 45px;
	color: #fff;
}
.container
{
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
.container::before
{
  display: table;
  content: " ";
  clear: both;
}

.top_theme .content_left li {
    display: inline-block;
    padding-right: 16px;
    padding-left: 11px;
    margin-top: 12px;
    letter-spacing: -0.25px;
}

.top_theme ul { 
	margin: 0;
}

.top_theme .content_left li:first-child {
	padding-left: 0;
}
.top_theme .content_left li a {
	margin-left: -6px;
	letter-spacing: 0;
}

.top_theme .content_left li i {
	margin-right: 8px;
}

.top_theme,
.top_theme a {
	color: #fff;
}

.top_theme a:hover {
	color: #18ba60;

}
.top_theme .border_right::after {
    content: '';
    right: 0;
    position: absolute;
    top: 50%;
    margin-top: -7px;
    width: 1px;
    height: 14px;
    background-color: #d1d1d1;
}

.top_theme .content_right > * {

	display: inline-block;

	vertical-align: top;

}
.top_theme .content_left {

	float: left;

}



.top_theme .content_right {
	float: right;


}




.top_theme .border_left,

.top_theme .border_right {

	position: relative;

}
.info-top-right a.appoinment, .nav-widget a.appoinment, .wrap-header-content a.appoinment {
    display: inline-block;
    background-color: #ea7292;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    height: 45px;
    line-height: 45px;
    padding: 0 27px;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.logo img{
    height: 90px;
}
img{
    width: 100%;
    vertical-align: middle;
}
nav
{
    display: block;
}
 .nav-wrap{
    list-style: none;
 }       
#mainnav ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}
#mainnav > ul >li
{
    display: inline-block;
}
#mainnav ul li
{
    position: relative;
}
#mainnav > ul > li {
    margin-left: 38px;
}
.mainnav
{
     background-color: #3a526a;
     color: #fff;
}
    #mainnav > ul > li > a {
    line-height: 65px;
    color: #fff;
}
#mainnav ul li a {
    font-size: 14px;
}
#mainnav > ul > li > a {
    font-weight: 600;
}
#mainnav > ul > li > a {
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
#mainnav > ul > li > a:hover {
    color: #ea7292 !important;
}


/*Main Slide Show*/
.main_slideshow
{
    margin-top: 1px;
    /*background: url('../img/boxed-bg.jpg') repeat fixed;*/
}

.slideshow-container
{
    max-width: 1000px;
    position: relative;
    margin:auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);

}
.numbertext{
    color: #f2f2f2;
    font-size: 12px;
    position: absolute;
    padding: 8px 12px;
    top: 0;

}
.text{
      color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  text-align: center;
  bottom: 8px;
  position: absolute;
  width: 100%;

}
.mySlides
{
    display: none;
      
  }
img {vertical-align: middle;}
.fade
{
    -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: 1} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 1} 
  to {opacity: 1}
}
.prev, .next
{
    position: absolute;
    cursor: pointer;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
     font-weight: bold;
    font-size: 18px;
     transition: 0.6s ease;
     border-radius: 0 3px 3px 0;
     user-select: none;
}
.next
{
 right: 0;
 border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.dot
{
    
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

}
.active, .dot:hover {
  background-color: #717171;
}
@media only screen and (max-width: 300px){
    .prev, .next,.text {font-size: 11px}
}

/*---------------------------------------------*/
.minislideshow
{
    width: 66.66%;
    float: left;
}
.news_section
{
    width: 33.33%;
    float: left;
    padding: 15px;
}

.button
{
    font-size: 14px;

padding-top: 14px;

padding-bottom: 14px;

padding-left: 20px;

padding-right: 20px;
border-radius: 5px;
color:#fff;

border-color:#ff675b;

background-color:#ff675b;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;

}


/************************** footer Start*/
.bottom .copyright {
    text-align: center;
  }
.bottom .copyright p, .bottom #menu-bottom li a {
    color: #888;
    text-align: center;
}
.bottom p {
    margin-bottom: 0;
    line-height: 36px;
}
p {
    margin: 0 0 10px;
    }

    .bottom .copyright a{
    color: #ea7292;
}
.bottom {
    background-color: #1b1b1b;
}
.bottom {
    padding: 27px 0;
    background-color: #1b1b1b;
    font-size: 14px;
    z-index: 1;
    position: relative;
    }

    .go-top {
    position: fixed !important;
    right: -35px;
    bottom: 15px;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    background-color: 
    rgba(0, 0, 0, 0.4);
    line-height: 40px;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    
    
}
.go-top.show {
    right: 15px;
    bottom: 15px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    visibility: visible;
    z-index: 9999;
    color:#FFF;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.footer-widgets {
    overflow: hidden;
    font-size: 14px;
    color:#888;
    letter-spacing: -0.5px;
}
.footer {
    padding-top: 64px;
    padding-bottom: 74px;
    border-color: #353535;
    border-style: solid;
    border-width: 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
    color: #888;
}
.footer_background{
position: relative;
}
.footer_background{
    background-color: #222;
}
.footer-widgets
{
    overflow: hidden;
    font-size: 14px;
    color: #888;
    letter-spacing: -0.5px;
    clear: both;

}
.footer_col1
{
  width: 33.33333333%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}
.widget_title
{

  color:#fff;
letter-spacing: -0.5px;
font-size: 17px;
font-weight: 500;
text-transform: uppercase;
position: relative;
margin-bottom:31px;
margin-top: 17px;
padding-right: 32px;
display: inline-block;
}
.footer_col2
{

    width: 16.66666667%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
p{
  line-height: 25px;
  margin: 0 0 10px;
  text-align: justify;
}

h4{
  line-height: 1.1;
}

.widget_nav_menu
{
  padding-left: 50px;
  overflow: hidden;
  clear: both;
}
.textwidget ul, .widget_nav_menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.widget_nav_menu ul li {
    position: relative;
    padding-left: 14px;
    width: 100%;
    float: left;
    margin-bottom: 0;
}
.widget_nav_menu ul li::before {
    content: "\f363";
    position: absolute;
    left: 0;
    top: 5px;
    font-family: "Ionicons";
    font-size: 19px;
}
.footer-widgets ul li a {
    color: #888;
    line-height: 36px;
    font-size: 14px;
    letter-spacing: -0.5px;
}

.footer_col3{
  width: 25%;
  float: left;
}
.widget_title::before {
    bottom: 7px;
    right: 11px;
    width: 12px;
    background: #fff;
}
.widget_title::before {
  
    height: 1px;
    position: absolute;
    content: "";
    
}
.widget_title::after {
    width: 23px;
    height: 1px;
    position: absolute;
    content: "";
    bottom: 4px;
    right: 0;
     background: #fff;
    }
  .footer-widgets ul li  a:hover {
  color: #ea7292;

}
/************************** footer end*/

/*Our Recruiter*/
.vc_row-flex
{
  box-sizing: border-box;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
margin-left: -15px;
margin-right: -15px;
}
.vc_column_container
{
  -webkit-box-align: stretch;
-webkit-align-items: stretch;
-ms-flex-align: stretch;
align-items: stretch;
padding-left: 0;
padding-right: 0;
}
.vc_column-inner 
{
  -webkit-box-flex: 1;
-webkit-flex-grow: 1;
-ms-flex-positive: 1;
flex-grow: 1;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
z-index: 1;
box-sizing: border-box;
padding-left: 15px;
padding-right: 15px;
width: 100%;
}
.themesflat_client-image
{

}
element {
    width: 170px;
    margin-right: 30px;
}
.owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
 .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}


/*content*/
.page-wrap {

    padding:0;
    background-color:  #fff;
    overflow: hidden;

}
.md12
{
  width: 100%;
}
.site-main
{
  position: relative;
  display: block;
}
.vc_custom_1532077387433 {

    padding-top: 00px !important;
    padding-bottom: 0px !important;

}
.vc_row {

    margin-left: -15px;
    margin-right: -15px;

}
.vc_row::after, .vc_row::before {
    content: " ";
    display: table;
    clear: both;
}

::before, ::after {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.vc_row-full-width .row_overlay, .vc_row .row_overlay {

    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    display: block;
    z-index: -1;

}
.vc_column_container {

    padding-left: 0;
    padding-right: 0;

}
.vc_col-sm-12 {

    width: 100%;
    
    position: relative;

    min-height: 1px;

    padding-right: 15px;

    padding-left: 15px;
}
.vc_column_container > .vc_column-inner {

    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;

}
.vc_custom_1491986066126 {

    padding-top: 22px !important;

}
.vc_column-inner::after, .vc_column-inner::before {

    content: " ";
    display: table;
clear: both;
}

.wpb_content_element {

    margin-bottom: 35px;

}
.vc_custom_1575876828613 {
    background-color: #cfeef7 !important;
}


@media (min-width: 768px) 
{
  .vc_col-sm-6 {
    width: 50%;
    float: left;
}
}
 .vc_row-has-fill>.vc_column_container>.vc_column-inner {
    padding-top: 35px;
}
.vc_column_container>.vc_column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
.vc_column-inner::after, .vc_column-inner::before {
    content: " ";
    display: table;
}
.themesflat_iconbox.inline-left {
    text-align: left;
}
.vc_custom_1575877801824 {
    margin-bottom: 28px !important;
}
.themesflat_iconbox.transparent .iconbox-icon span {
    font-size: 45px;
}
.themesflat_iconbox .iconbox-icon .icon span
{
  color: #ea7292;
}
.icon-bulb:before {
    content: "\e076";
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .themesflat_iconbox .iconbox-content {
    overflow: hidden;
    letter-spacing: -0.39px;
}
.themesflat_iconbox .iconbox-icon {
    float: left;
}
.themesflat_iconbox.transparent h4.title {
    letter-spacing: 0.2px;
}
.themesflat_iconbox.transparent .title {
    
    margin-bottom: 13px;
}
.themesflat_iconbox.inline-left .iconbox-icon {
    float: left;
    margin-right: 20px;
}


h4.title {
    line-height: 25px;
    font-size: 18px;
    font-weight: 600;
    color: #222;
    margin-top: 10px;
}
h4.title a{
    color: #222;
  }
    
.themesflat_iconbox.inline-left {
    text-align: left;
}
.themesflat_iconbox .sub-title {
    color: #999;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.1px;
    margin-top: -13px;
    margin-bottom: 11px;
}
.themesflat_iconbox .iconbox-icon {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    overflow: hidden;
    margin-bottom: 6px;
}
