
*{
	box-sizing: border-box;
}
body{
	margin:0;
	overflow-x: hidden;
    font-weight: 400;
}
a{
	text-decoration: none;
	transition: all 0.3s ease 0s;
}
.top_theme{
	background-color: #3a526a;

	font-size: 12px;

	font-family: "Poppins", sans-serif;

	min-height: 45px;
	color: #fff;
}
.container
{
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.top_theme .content_left li {
    display: inline-block;
    padding-right: 16px;
    padding-left: 11px;
    margin-top: 12px;
    letter-spacing: -0.25px;
}

.top_theme ul { 
	margin: 0;
}

.top_theme .content_left li:first-child {
	padding-left: 0;
}
.top_theme .content_left li a {
	margin-left: -6px;
	letter-spacing: 0;
}

.top_theme .content_left li i {
	margin-right: 8px;
}

.top_theme,
.top_theme a {
	color: #fff;
}

.top_theme a:hover {
	color: #18ba60;

}
.top_theme .border_right::after {
    content: '';
    right: 0;
    position: absolute;
    top: 50%;
    margin-top: -7px;
    width: 1px;
    height: 14px;
    background-color: #d1d1d1;
}

.top_theme .content_right > * {

	display: inline-block;

	vertical-align: top;

}
.top_theme .content_left {

	float: left;

}



.top_theme .content_right {
	float: right;


}




.top_theme .border_left,

.top_theme .border_right {

	position: relative;

}
.info-top-right a.appoinment, .nav-widget a.appoinment, .wrap-header-content a.appoinment {
    display: inline-block;
    background-color: #ea7292;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    height: 45px;
    line-height: 45px;
    padding: 0 27px;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.logo img{
    height: 90px;
}
img{
    width: 100%;
    vertical-align: middle;
}
nav
{
    display: block;
}
 .nav-wrap{
    list-style: none;
 }       
#mainnav ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}
#mainnav > ul >li
{
    display: inline-block;
}
#mainnav ul li
{
    position: relative;
}
#mainnav > ul > li {
    margin-left: 38px;
}
.mainnav
{
     background-color: #3a526a;
     color: #fff;
}
    #mainnav > ul > li > a {
    line-height: 65px;
    color: #fff;
}
#mainnav ul li a {
    font-size: 14px;
}
#mainnav > ul > li > a {
    font-weight: 600;
}
#mainnav > ul > li > a {
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
#mainnav > ul > li > a:hover {
    color: #ea7292 !important;
}


/*Main Slide Show*/
.main_slideshow
{
    margin-top: 1px;
    /*background: url('../img/boxed-bg.jpg') repeat fixed;*/
}

.slideshow-container
{
    max-width: 1000px;
    position: relative;
    margin:auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);

}
.numbertext{
    color: #f2f2f2;
    font-size: 12px;
    position: absolute;
    padding: 8px 12px;
    top: 0;

}
.text{
      color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  text-align: center;
  bottom: 8px;
  position: absolute;
  width: 100%;

}
.mySlides
{
    display: none;
      
  }
img {vertical-align: middle;}
.fade
{
    -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: 1} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 1} 
  to {opacity: 1}
}
.prev, .next
{
    position: absolute;
    cursor: pointer;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
     font-weight: bold;
    font-size: 18px;
     transition: 0.6s ease;
     border-radius: 0 3px 3px 0;
     user-select: none;
}
.next
{
 right: 0;
 border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.dot
{
    
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

}
.active, .dot:hover {
  background-color: #717171;
}
@media only screen and (max-width: 300px){
    .prev, .next,.text {font-size: 11px}
}

/*---------------------------------------------*/
.minislideshow
{
    width: 66.66%;
    float: left;
}
.news_section
{
    width: 33.33%;
    float: left;
    padding: 15px;
}

.button
{
    font-size: 14px;

padding-top: 14px;

padding-bottom: 14px;

padding-left: 20px;

padding-right: 20px;
border-radius: 5px;
color:#fff;

border-color:#ff675b;

background-color:#ff675b;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;

}
.bottom .copyright {
    text-align: center;
  }
.bottom .copyright p, .bottom #menu-bottom li a {
    color: 
    #888;
}
.bottom p {
    margin-bottom: 0;
    line-height: 36px;
}
p {
    margin: 0 0 10px;
    }

    .bottom .copyright a{
    color: #ea7292;
}
.bottom {
    background-color: #1b1b1b;
}
.bottom {
    padding: 27px 0;
    background-color: #1b1b1b;
    font-size: 14px;
    z-index: 1;
    position: relative;
    }

    .go-top {
    position: fixed !important;
    right: -35px;
    bottom: 15px;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    background-color: 
    rgba(0, 0, 0, 0.4);
    line-height: 40px;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    
    
}
.go-top.show {
    right: 15px;
    bottom: 15px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    visibility: visible;
    z-index: 9999;
    color:#FFF;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.footer-widgets {
    overflow: hidden;
    font-size: 14px;
    color:#888;
    letter-spacing: -0.5px;
}
.footer {
    padding-top: 64px;
    padding-bottom: 74px;
    border-color: #353535;
    border-style: solid;
    border-width: 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
    color: #888;
}
.footer_background{
position: relative;
}
.footer_background{
    background-color: #222;
}